* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* Style général du header */
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: Black; 
    padding: 0px 20px;
    height: 60px; 
    color: white;
}

/* Style spécifique pour le logo dans le header */
header div.logo img {
    max-height: 45px;  
    margin-top: 5px; 
}

/* Style spécifique pour l'icône des paramètres dans le header */
header div.parametre img {
    max-height: 50px; 
    margin-top: 5px; 
}

/* Style pour la liste de navigation dans le header */
header nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

/* Style pour chaque élément de la liste */
header nav ul li {
    margin-left: 20px; 
}
/* Style pour les liens de navigation */
header nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 1.5em; 
    font-weight: 750; 
}

/* Style pour l'état survolé des liens de navigation */
header nav ul li a:hover {
    text-decoration: underline; 
}

.text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, sans-serif;
    color: white;
}
h1 {
    font-weight: 700;
    margin-top: 2.5%;
    margin-bottom: 1%;
    font-size: 28px;
}

.nom {
    font-size: 20px;
    white-space: nowrap;
}

.fonction {
    font-size: 16px;
    color: rgba(96, 98, 102, 1);
    font-style:italic;
    white-space: nowrap;
}

.Description {
    font-size: 16px;
    margin-bottom: 1rem;
}

.perso {
    display: flex;
    margin-left: 5%;
    margin-bottom: 1%;
}

.media{
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
}

.media2{
    padding-right: 20px;
}