* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* Style général du header */
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: Black; 
    padding: 0px 20px;
    height: 60px; 
    color: white;
}

/* Style spécifique pour le logo dans le header */
header div.logo img {
    max-height: 45px;  
    margin-top: 5px; 
}

/* Style spécifique pour l'icône des paramètres dans le header */
header div.parametre img {
    max-height: 50px; 
    margin-top: 5px; 
}

/* Style pour la liste de navigation dans le header */
header nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

/* Style pour chaque élément de la liste */
header nav ul li {
    margin-left: 20px; 
}
/* Style pour les liens de navigation */
header nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 1.5em; 
    font-weight: 750; 
}

/* Style pour l'état survolé des liens de navigation */
header nav ul li a:hover {
    text-decoration: underline; 
}

.text {
    margin-left: 5%;
    font-family: Arial, sans-serif;
    color: white;
}
h1 {
    font-weight: 700;
    margin-top: 2.5%;
    font-size: 56px;

}
p {
    margin-right:5%;
    font-size: 36px;
    margin-bottom: 2.5%;
    font-weight: lighter;
}
h2 {
    font-size: 44px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 1rem;
}

menu {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2.5%;
    
}

.button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 5% 5%;
    padding: 5px;
    background-color: #f0f0f0;
}

/* Style pour les boutons */
.button {
    border: 2px solid black;
    background-color: rgba(230, 13, 76);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1.1rem;
    border-radius: 100px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(230, 13, 76);
    ;
    color: lightgray;
}

.quizz {
    display: flex;
    background-color: rgba(230, 13, 76);
    font-size: 20px;
    color: white;
    border: 2px solid black;
    justify-content: center;
    margin: 2.5% 40%;
    padding:10px;
}

.carte {
    display: flex;
    justify-content: center;
}

.carte img {
    max-width: 50%;
    max-height: 50%;
}